@model IEnumerable<DestekTaleplerim.MvcWebUI.Entity.Mesajlar>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Tipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Icerik)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Tipi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Icerik)
        </td>
        <td>
            @Html.ActionLink("Edit", "Sil", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Düzenle", new { id=item.Id })
        </td>
    </tr>
}

</table>
